*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

nav{
background:black;
padding:15px;
}

nav ul{
list-style:none;
text-align:center;
}

nav ul li{
display:inline;
margin:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:20px;
font-weight:bold;
}

nav ul li a:hover{
color:cyan;
}

section{
padding:50px;
text-align:center;
}

h1{
margin-bottom:20px;
}

.skill-box{
display:inline-block;
background:#004e92;
color:white;
padding:10px 20px;
margin:10px;
border-radius:5px;
}

.project{
background:#f4f4f4;
padding:20px;
margin:10px;
border-radius:5px;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
position:fixed;
bottom:0;
width:100%;
}
